body {
	margin: 0;
	padding: 0;
	background: blue;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #999;
}
 
h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
h1 {
	font-size: 2em;
}

h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	letter-spacing: -2px;
	font-size: 2.5em;
	color: #FFFFFF;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 200%;
}

a {
	color: #8A8A8A;
}

/********** Header **********/
#header {
	width: 900px;
	height: 115px;
	margin: 0 auto;
	padding: 0px 50px;
}

/********** Logo **********/
#logo {
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

#logo h1 {
	padding:10px 0px 0px 0px;
	letter-spacing: -2px;
	text-transform: lowercase;
	font-size: 3.8em;
}

#logo h1 a {
	color: #FFFFFF;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 0px;
	letter-spacing: -1px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #8E8E8E;
}

#logo p a {
	color: #8E8E8E;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}


/********** Menu **********/
#menu {
	float: right;
	width: 500px;
	height: 100px;
	margin: 0 auto;
	padding: 70px 0px 0px 0px;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 20px;
	margin: 0px;
	padding: 0px 15px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#aide {
	clear: both;
	float: right;
}

/********** Page **********/
#page {
	overflow: hidden;
	width: 940px;
	margin: 0px auto;
}

#content2, #content {
	float: right;
	width: 530px;
}

#content2 h2{
	float: right;
	
}

#comment {
	float: right;
	width: 450px;
	height: 250px;
	overflow: auto;
	border-left: 0px #DEDEDE dotted;
	border-right: 1px #DEDEDE dotted;
}

.cross
{
	text-decoration: none;
	color: #BB0B0B;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 1px;
	margin-right: 5px;
	text-transform: lowercase;
	border: 1px #bebebe solid;
	border-radius: 50%;
}

#sidebar2, #sidebar {
	float: left;
	width: 390px;
}

/********** Formulaire **********/
#formulaire {
	width: 940px;
	margin: auto;
}

#nom, #mail
{
	width: 382px;
	height: 25px;
	color: #777;
	font-size: 12px;
	margin-bottom: 10px;
	padding-left: 8px;
	border-radius: 3px;
	border: 1px white solid;
}

#formu p
{
	text-align: center;
}

#commentaire
{
	width: 382px;
	height: 110px;
	margin-bottom: 10px;
	color: #777;
	font-size: 12px;
	padding-left: 8px;
	padding-top: 8px;
	border-radius: 3px;
	border: 0px white solid;
}

#envoyer
{
	background: black;
	color: #dedede;
	border: 1px white solid;
	width: 100px;
	height: 40px;
	border-radius: 5px;
}

#formulaire_
{
	padding-top: 20px;
}

#formulaire_ p
{
	text-align: center;
}

#pseudo, #password
{
	margin-bottom: 8px;
	width: 165px;
	height: 15px;
}

input[type=checkbox]
{
	margin-right: 10px;
	margin-bottom: 12px;
}



#pseudo
{
	margin-right: 2px;
}

#password
{
	margin-left: 2px;
}

#connect
{
	background: black;
	color: #dedede;
	border: 1px white solid;
	width: 55px;
	height: 55px;
	border-radius: 50%;
}


/********** Gallerie poptrox **********/
#poptrox {
	width: 960px;
	margin: 0px auto;
}

#gallery {
	width: 960px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#gallery li {
	float: left;
	margin: 0px;
	padding: 10px;
}

#gallery img {
	border: 5px solid #FFFFFF;
}

#zoom {
	border: 10px solid #FFFFFF;
}

/********** Footer **********/
.deconnexion
{
	color: #8F0707;
	font-size: 14px;
}

.edit
{
	color: #8F0707;
	font-size: 14px;
}


#footer {
	width: 940px;
	margin: 0px auto;
	clear: both;
}

#footer p {
	margin: 0px;
	padding: 40px 0px 0px 0px;
	text-align: center;
	font-size: 12px;
}
